<f:layout name="Default" />

<f:section name="main">
	<div class="tx-kf-categoryfilter_isotope">
		<f:if condition="{settings.debug}">
			<f:debug title="Results: Isotope.html">{_all}</f:debug>
		</f:if>

		<f:if condition="{error}">
			<f:then>
				<div class="panel panel-default">
					<div class="panel-heading">Select for categories from isotope</div>
					<div class="panel-body">
						<p>
							Das Isotope erstellt nach wunsch aus einer Kategorie eine Auflistung
							der Seiten mit einer Kategorie ähnlich wie "Select for categories from pages".
							Nur das bei der Version noch die Relation-Datei ausgelesen wird.
						</p>
						<p>
							Zu besprechen:<br/>
							Soll man auf der Seite ein gesondertes Feld zum Pflegen von Inhalten haben?
						</p>
						<div class="alert alert-danger">
							<p>Error: {error}</p>
						</div>
					</div>
				</div>
			</f:then>
			<f:else>
				<div id="filters" class="button-group">
					<button class="button" data-filter="*">All</button>

					<f:for each="{categories}" as="item">
						<f:render partial="Hashtag/Isotope" arguments="{item: item}" />
					</f:for>
				</div>

				<div class="grid row">
					<f:for each="{pageData}" as="item">
						<div class="col-md-3 element-item {item.class_grid} {item.pageData.iso_hover_color}" data-category="{item.class_grid}">
							<div class="grid_inner">
								<f:link.page pageUid="{item.puid}">
									<f:if condition="{item.pageData.identifier}">
										<f:then>
											<div class="overlay-trans">
												<span>{item.class_grid}</span>
												<h2>{item.pageData.iso_hover_text}</h2>
											</div>
											<f:image src="/fileadmin/{item.pageData.identifier}" width="300" height="300c" class="img-responsive" />
										</f:then>
										<f:else>
											<div class="bg">
												<span>{item.class_grid}</span>
												<h2>{item.pageData.iso_text}</h2>
												<div class="overlay-trans">
													<span>{item.class_grid}</span>
													<h2>{item.pageData.iso_hover_text}</h2>
												</div>
											</div>
											<f:image src="EXT:kf_categoryfilter/Resources/Public/Images/blank.gif" width="300" height="300c" class="img-responsive" />
										</f:else>
									</f:if>
								</f:link.page>
							</div>
						</div>
					</f:for>
				</div>

			</f:else>
		</f:if>

		<div class="clearfix"></div>
	</div>
</f:section>